# Mental health and substance use disorders -- Data Wrangling

## Introduction

Mental health and substance use disorders impact our life in all directions and are very common illness in the world. I came across a few mental health and substance use disorders datasets on Our World in Data (https://ourworldindata.org). Here, I will walk through the datasets, try to understand why mental health and substance use disorders is important and how mental health and substance use disorders related to gender, age, suicide and economics. 

Original blog: https://ourworldindata.org/mental-health#all-charts-preview.

This project with be interested in following datasets:
 * death-rates-from-mental-health-and-substance-use-disorders.csv (<a href="https://ourworldindata.org/grapher/death-rates-from-mental-health-and-substance-use-disorders?tab=chart" target="_blank">link</a>)
 * gdp-per-capita-worldbank.csv (<a href="https://ourworldindata.org/grapher/gdp-per-capita-worldbank?tab=chart&region=World" target="_blank">link</a>)
 * mental-and-substance-use-as-share-of-disease.csv (<a href="https://ourworldindata.org/grapher/mental-and-substance-use-as-share-of-disease?tab=chart" target="_blank">link</a>)
 * prevalence-by-mental-and-substance-use-disorder.csv (<a href="https://ourworldindata.org/grapher/prevalence-by-mental-and-substance-use-disorder" target="_blank">link</a>)
 * prevalence-of-mental-and-substance-disorders-by-age.csv (<a href="https://ourworldindata.org/grapher/prevalence-of-mental-and-substance-disorders-by-age" target="_blank">link</a>)
 * share-with-mental-and-substance-disorders.csv (<a href="https://ourworldindata.org/grapher/share-with-mental-and-substance-disorders" target="_blank">link</a>)
 * share-with-mental-or-substance-disorders-by-sex.csv (<a href="https://ourworldindata.org/grapher/share-with-mental-or-substance-disorders-by-sex" target="_blank">link</a>)
 * suicide-rates-vs-prevalence-of-mental-and-substance-use-disorders.csv (<a href="https://ourworldindata.org/grapher/suicide-rates-vs-prevalence-of-mental-and-substance-use-disorders" target="_blank">link</a>)
 
The datasets include diagnosis rates from 1990 to 2017 in 231 entities (countries or regions) for different focuses. 


### Outline:
1.   Problem Identification 

2.   **Data Wrangling** 
  * Data Collection 
      - Locating the data
      - Data loading      
  * Data Cleaning
      - Delete unuseful columns
      - Rename column names
      - NA or missing data
  * Data joining 
  * Data Definition  

 
3.   Exploratory Data Analysis 

4.   Pre-processing and Training Data Development

5.   Modeling 

6.   Documentation

This notebook will be focused on step 2: data wrangling. All datasets pretty clean,  only need to be changed some columns name, removed missing data for a few datasets, then merged a few datasets for the following process.

Let's get started.

## Data Collection 

### Locating the data

In [1]:
# load the needed packages
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime

In [2]:
path = os.getcwd()

In [3]:
print ("The current working directory is %s" % path)

The current working directory is C:\Users\yuhan\Desktop\Springboard\Capstone project-2

In [4]:
os.listdir()

['.ipynb_checkpoints',
 'data',
 'figures',
 'Mental health and substance disorders data',
 'Mental health and substance use disorders_data wrangling.ipynb',
 'Mental health and substance use disorders_EDA.ipynb',
 'models',
 '~$Mental health Depression disorder Data.xlsx']

In [5]:
path = 'Mental health and substance disorders data'
os.chdir(path)

In [10]:
os.listdir()

['death-rates-from-mental-health-and-substance-use-disorders.csv',
 'gdp-per-capita-worldbank.csv',
 'mental-and-substance-use-as-share-of-disease.csv',
 'prevalence-by-mental-and-substance-use-disorder.csv',
 'prevalence-of-mental-and-substance-disorders-by-age.csv',
 'share-with-mental-and-substance-disorders.csv',
 'share-with-mental-or-substance-disorders-by-sex.csv',
 'suicide-rates-vs-prevalence-of-mental-and-substance-use-disorders.csv']

### Data loading

In [11]:
# Age-standardized direct death rates from mental health and substance use disorders, measured per 100,000 individuals. 
# Data do not include deaths resultant from suicide.
deathRates = pd.read_csv('death-rates-from-mental-health-and-substance-use-disorders.csv')
deathRates['Deaths - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Rate)'] = deathRates['Deaths - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Rate)'] * 1000
deathRates.head()

,Entity,Code,Year,Deaths - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,0.144067
1,Afghanistan,AFG,1991,0.140653
2,Afghanistan,AFG,1992,0.135279
3,Afghanistan,AFG,1993,0.133047
4,Afghanistan,AFG,1994,0.130073

In [12]:
gdpPerCapita = pd.read_csv('gdp-per-capita-worldbank.csv')
gdpPerCapita.head()

        Entity Code  Year  GDP per capita, PPP (constant 2011 international $)
0  Afghanistan  AFG  2002                                        1063.635574
1  Afghanistan  AFG  2003                                        1099.194507
2  Afghanistan  AFG  2004                                        1062.249360
3  Afghanistan  AFG  2005                                        1136.123214
4  Afghanistan  AFG  2006                                        1161.124889

In [13]:
# Mental health and substance use disorders as a share of total disease burden. Disease burden is measured in DALYs
# (Disability-Adjusted Life Years). DALYs measure total burden of disease, both from years of life lost and years lived with a disability. One DALY equals one lost year of healthy life.
share_disease = pd.read_csv('mental-and-substance-use-as-share-of-disease.csv')
share_disease.head()

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental and substance use disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,1.320975
1,Afghanistan,AFG,1991,1.354445
2,Afghanistan,AFG,1992,1.506504
3,Afghanistan,AFG,1993,1.487670
4,Afghanistan,AFG,1994,1.389687

In [14]:
# Share of the total population with a given mental health or substance use disorder. 
mental_substance = pd.read_csv('prevalence-by-mental-and-substance-use-disorder.csv')
mental_substance.head()

,Entity,Code,Year,Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.672404,1.677082,4.071831,0.697779,4.828830,0.101855,0.160560
1,Afghanistan,AFG,1991,0.671768,1.684746,4.079531,0.697961,4.829740,0.099313,0.160312
2,Afghanistan,AFG,1992,0.670644,1.694334,4.088358,0.698107,4.831108,0.096692,0.160135
3,Afghanistan,AFG,1993,0.669738,1.705320,4.096190,0.698257,4.830864,0.094336,0.160037
4,Afghanistan,AFG,1994,0.669260,1.716069,4.099582,0.698469,4.829423,0.092439,0.160022

In [15]:
# Share of population by age groups suffering from any mental health or substance use disorders; 
# this includes depression, anxiety, bipolar, eating disorders, alcohol or drug use disorders, and schizophrenia. 
ageGroup = pd.read_csv('prevalence-of-mental-and-substance-disorders-by-age.csv')
ageGroup.head()

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Both - Age: 10 to 14 (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: 15 to 19 (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: 20 to 24 (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: 25 to 29 (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: 30 to 34 (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: All Ages (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: 5-14 years (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: 15-49 years (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: 50-69 years (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: 70+ years (Percent),Prevalence - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,17.963929,20.746551,20.394054,20.968224,21.363230,16.471540,14.857525,20.796416,17.911218,14.549360,17.553463
1,Afghanistan,AFG,1991,18.308466,21.059514,20.690527,21.226918,21.628881,16.750416,15.122301,21.064413,18.109323,14.680612,17.837032
2,Afghanistan,AFG,1992,18.618200,21.360629,20.975017,21.437639,21.855734,17.022630,15.353386,21.309476,18.300797,14.795600,18.092542
3,Afghanistan,AFG,1993,18.854464,21.590949,21.184427,21.595253,22.046316,17.208295,15.529752,21.498997,18.464068,14.886083,18.294931
4,Afghanistan,AFG,1994,19.022019,21.741705,21.313204,21.725390,22.158546,17.230492,15.624982,21.635443,18.558568,14.941922,18.428908

In [16]:
# Share of population with any mental health or substance use disorder; this includes depression, anxiety, bipolar, eating
# disorders, alcohol or drug use disorders, and schizophrenia. 
share_mental_sub = pd.read_csv('share-with-mental-and-substance-disorders.csv')
share_mental_sub.head()

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,17.553463
1,Afghanistan,AFG,1991,17.837032
2,Afghanistan,AFG,1992,18.092542
3,Afghanistan,AFG,1993,18.294931
4,Afghanistan,AFG,1994,18.428908

In [17]:
# Share of males vs. females with any mental health or substance use disorder; this includes depression, anxiety, bipolar,
# eating disorders, schizophrenia, alcohol and drug use disorders, and neurodevelopmental disorders.
gender = pd.read_csv('share-with-mental-or-substance-disorders-by-sex.csv')
gender.head()

,Entity,Code,Year,Total population (Gapminder),Continent,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent)
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1800,3280000.0,NaN,NaN,NaN
2,Afghanistan,AFG,1820,3280000.0,NaN,NaN,NaN
3,Afghanistan,AFG,1870,4207000.0,NaN,NaN,NaN
4,Afghanistan,AFG,1913,5730000.0,NaN,NaN,NaN

In [18]:
# Age-standardized suicide death rates, measured per 100,000 individuals versus rates of mental and substance use disorders
# per 100,000 individuals. This includes depression, anxiety, bipolar, eating disorders, alcohol or drug use disorders, and
# schizophrenia.
suicideRates = pd.read_csv('suicide-rates-vs-prevalence-of-mental-and-substance-use-disorders.csv')
suicideRates.head()

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,Deaths - Self-harm - Sex: Both - Age: Age-standardized (Rate),Prevalence - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Rate)
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1800,3280000.0,NaN,NaN,NaN
2,Afghanistan,AFG,1801,3280000.0,NaN,NaN,NaN
3,Afghanistan,AFG,1802,3280000.0,NaN,NaN,NaN
4,Afghanistan,AFG,1803,3280000.0,NaN,NaN,NaN

## Data Cleaning

### Delete unuseful columns
In this study, we don't want to look at the total population and continent. I will delete these two columns from gender and suicide rate dataframes.

In [19]:
gender.drop(columns=['Continent', 'Total population (Gapminder)'],inplace=True)
suicideRates.drop(columns=['Continent', 'Total population (Gapminder, HYDE & UN)'],inplace=True)

### Rename column names
Rename the long name of columns.

In [20]:
deathRates.rename(columns={'Deaths - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Rate)': 'Deaths - Mental and substance use disorders (per 100,000)'}, inplace=True)
gdpPerCapita.rename(columns={'GDP per capita, PPP (constant 2011 international $)': 'GDP per capita ($)'}, inplace=True)
share_disease.rename(columns={'DALYs (Disability-Adjusted Life Years) - Mental and substance use disorders - Sex: Both - Age: All Ages (Percent)': 'Share of total disease (%)'}, inplace=True)
share_mental_sub.rename(columns={'Prevalence - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Percent)': 'Mental and substance use disorders (%)'}, inplace=True)
gender.rename(columns={'Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent)': 'Male (%)', 
                      'Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent)': 'Female (%)'}, inplace=True)
suicideRates.rename(columns={'Deaths - Self-harm - Sex: Both - Age: Age-standardized (Rate)': 'Suicide Rate (per 100,000)', 
                             'Prevalence - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Rate)': 'mental_sub rate'}, inplace=True)

In [21]:
cols_mental_substance_1 = mental_substance.columns.tolist()
cols_mental_substance_1

['Entity',
 'Code',
 'Year',
 'Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)',
 'Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent)',
 'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)',
 'Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent)',
 'Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent)',
 'Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent)',
 'Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent)']

In [22]:
cols_mental_substance_2 = ['Entity',
 'Code',
 'Year',
 'Alcohol use disorders (%)',
 'Drug use disorders (%)',
 'Depressive disorders (%)',
 'Bipolar disorder (%)',
 'Anxiety disorders (%)',
 'Eating disorders (%)',
 'Schizophrenia (%)']

In [23]:
mental_substance.columns = cols_mental_substance_2

In [24]:
cols_ageGroup_1 = ageGroup.columns.tolist()
cols_ageGroup_1

['Entity',
 'Code',
 'Year',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: 10 to 14 (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: 15 to 19 (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: 20 to 24 (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: 25 to 29 (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: 30 to 34 (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: All Ages (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: 5-14 years (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: 15-49 years (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: 50-69 years (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: 70+ years (Percent)',
 'Prevalence - Mental and substance use disorders - Sex: Both - Age: Age-standardized (Percent)']

In [25]:
cols_ageGroup_2 = ['Entity',
 'Code',
 'Year',
 '10-14 years old (%)',
 '15-19 years old (%)',
 '20-24 years old (%)',
 '25-29 years old (%)',
 '30-34 years old (%)',
 'All ages (%)',
 '5-14 years old (%)', 
 '15-49 years old (%)', 
 '50-69 years old (%)',
 '70+ years old (%)',
 'Age-standardized (%)',
 ]

In [26]:
ageGroup.columns = cols_ageGroup_2

### NA or missing data
We saw data on gender and suicide rates start from 1800 with null values, but others start from 1900. Let's delete those rows.

In [27]:
gender = gender[gender['Male (%)'].notna()].reset_index(drop=True)
gender.head()

        Entity Code  Year   Male (%)  Female (%)
0  Afghanistan  AFG  1990  17.448695   17.634233
1  Afghanistan  AFG  1991  17.771263   17.873184
2  Afghanistan  AFG  1992  18.051575   18.092318
3  Afghanistan  AFG  1993  18.275848   18.265196
4  Afghanistan  AFG  1994  18.427490   18.383394

In [28]:
suicideRates = suicideRates[suicideRates['Suicide Rate (per 100,000)'].notna()].reset_index(drop=True)
suicideRates.head()

        Entity Code  Year  Suicide Rate (per 100,000)  mental_sub rate
0  Afghanistan  AFG  1990                   10.318504     17415.208115
1  Afghanistan  AFG  1991                   10.327010     17691.565379
2  Afghanistan  AFG  1992                   10.271411     17939.244209
3  Afghanistan  AFG  1993                   10.376123     18134.237266
4  Afghanistan  AFG  1994                   10.575915     18261.317764

## Data joining

For later data analysis, I will join a few dataframes together.

Join 'death-rates-from-mental-health-and-substance-use-disorders', 'prevalence-by-mental-and-substance-use-disorder', 'share-with-mental-and-substance-disorders', ''mental-and-substance-use-as-share-of-disease' and 'suicide-rates-vs-prevalence-of-mental-and-substance-use-disorders' data

In [29]:
share_mental_sub.set_index(['Entity', 'Code', 'Year'], inplace=True)
share_disease.set_index(['Entity', 'Code', 'Year'], inplace=True)
deathRates.set_index(['Entity', 'Code', 'Year'], inplace=True)
suicideRates.set_index(['Entity', 'Code', 'Year'], inplace=True)
mental_substance.set_index(['Entity', 'Code', 'Year'], inplace=True)

In [30]:
dataframes = [share_mental_sub, share_disease, deathRates, suicideRates, mental_substance]

In [31]:
df = pd.concat(dataframes, axis=1)
df.head()

                       Mental and substance use disorders (%)  \
Entity      Code Year
Afghanistan AFG  1990                               17.553463
                 1991                               17.837032
                 1992                               18.092542
                 1993                               18.294931
                 1994                               18.428908

                       Share of total disease (%)  \
Entity      Code Year
Afghanistan AFG  1990                    1.320975
                 1991                    1.354445
                 1992                    1.506504
                 1993                    1.487670
                 1994                    1.389687

                       Deaths - Mental and substance use disorders (per 100,000)  \
Entity      Code Year
Afghanistan AFG  1990                                           0.144067
                 1991                                           0.140653
                 1992                                           0.135279
                 1993                                           0.133047
                 1994                                           0.130073

                       Suicide Rate (per 100,000)  mental_sub rate  \
Entity      Code Year
Afghanistan AFG  1990                   10.318504     17415.208115
                 1991                   10.327010     17691.565379
                 1992                   10.271411     17939.244209
                 1993                   10.376123     18134.237266
                 1994                   10.575915     18261.317764

                       Alcohol use disorders (%)  Drug use disorders (%)  \
Entity      Code Year
Afghanistan AFG  1990                   0.672404                1.677082
                 1991                   0.671768                1.684746
                 1992                   0.670644                1.694334
                 1993                   0.669738                1.705320
                 1994                   0.669260                1.716069

                       Depressive disorders (%)  Bipolar disorder (%)  \
Entity      Code Year
Afghanistan AFG  1990                  4.071831              0.697779
                 1991                  4.079531              0.697961
                 1992                  4.088358              0.698107
                 1993                  4.096190              0.698257
                 1994                  4.099582              0.698469

                       Anxiety disorders (%)  Eating disorders (%)  \
Entity      Code Year
Afghanistan AFG  1990               4.828830              0.101855
                 1991               4.829740              0.099313
                 1992               4.831108              0.096692
                 1993               4.830864              0.094336
                 1994               4.829423              0.092439

                       Schizophrenia (%)
Entity      Code Year
Afghanistan AFG  1990           0.160560
                 1991           0.160312
                 1992           0.160135
                 1993           0.160037
                 1994           0.160022

In [32]:
df.reset_index(inplace=True)
df.head()

,Entity,Code,Year,Mental and substance use disorders (%),Share of total disease (%),"Deaths - Mental and substance use disorders (per 100,000)","Suicide Rate (per 100,000)",mental_sub rate,Alcohol use disorders (%),Drug use disorders (%),Depressive disorders (%),Bipolar disorder (%),Anxiety disorders (%),Eating disorders (%),Schizophrenia (%)
0,Afghanistan,AFG,1990,17.553463,1.320975,0.144067,10.318504,17415.208115,0.672404,1.677082,4.071831,0.697779,4.828830,0.101855,0.160560
1,Afghanistan,AFG,1991,17.837032,1.354445,0.140653,10.327010,17691.565379,0.671768,1.684746,4.079531,0.697961,4.829740,0.099313,0.160312
2,Afghanistan,AFG,1992,18.092542,1.506504,0.135279,10.271411,17939.244209,0.670644,1.694334,4.088358,0.698107,4.831108,0.096692,0.160135
3,Afghanistan,AFG,1993,18.294931,1.487670,0.133047,10.376123,18134.237266,0.669738,1.705320,4.096190,0.698257,4.830864,0.094336,0.160037
4,Afghanistan,AFG,1994,18.428908,1.389687,0.130073,10.575915,18261.317764,0.669260,1.716069,4.099582,0.698469,4.829423,0.092439,0.160022

In [33]:
# I foud out the Mental and substance use disorders (%) and mental_sub rate are same meaning, just diffenrent pattern. 
# Delete mental_sub rate column.
df.drop(columns=['mental_sub rate'], inplace=True)
df.head()

,Entity,Code,Year,Mental and substance use disorders (%),Share of total disease (%),"Deaths - Mental and substance use disorders (per 100,000)","Suicide Rate (per 100,000)",Alcohol use disorders (%),Drug use disorders (%),Depressive disorders (%),Bipolar disorder (%),Anxiety disorders (%),Eating disorders (%),Schizophrenia (%)
0,Afghanistan,AFG,1990,17.553463,1.320975,0.144067,10.318504,0.672404,1.677082,4.071831,0.697779,4.828830,0.101855,0.160560
1,Afghanistan,AFG,1991,17.837032,1.354445,0.140653,10.327010,0.671768,1.684746,4.079531,0.697961,4.829740,0.099313,0.160312
2,Afghanistan,AFG,1992,18.092542,1.506504,0.135279,10.271411,0.670644,1.694334,4.088358,0.698107,4.831108,0.096692,0.160135
3,Afghanistan,AFG,1993,18.294931,1.487670,0.133047,10.376123,0.669738,1.705320,4.096190,0.698257,4.830864,0.094336,0.160037
4,Afghanistan,AFG,1994,18.428908,1.389687,0.130073,10.575915,0.669260,1.716069,4.099582,0.698469,4.829423,0.092439,0.160022

## Data Definition

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 14 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Entity                                                     6468 non-null   object
 1   Code                                                       5488 non-null   object
 2   Year                                                       6468 non-null   int64
 3   Mental and substance use disorders (%)                     6468 non-null   float64
 4   Share of total disease (%)                                 6468 non-null   float64
 5   Deaths - Mental and substance use disorders (per 100,000)  6468 non-null   float64
 6   Suicide Rate (per 100,000)                                 6468 non-null   float64
 7   Alcohol use disorders (%)                                  6468 non-null   float64
 8   Drug use disorders (%)                                     6468 non-null   float64
 9   Depressive disorders (%)                                   6468 non-null   float64
 10  Bipolar disorder (%)                                       6468 non-null   float64
 11  Anxiety disorders (%)                                      6468 non-null   float64
 12  Eating disorders (%)                                       6468 non-null   float64
 13  Schizophrenia (%)                                          6468 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 707.6+ KB

The data is very clean.

In [35]:
df.nunique()

Entity                                                        231
Code                                                          196
Year                                                           28
Mental and substance use disorders (%)                       6468
Share of total disease (%)                                   6468
Deaths - Mental and substance use disorders (per 100,000)    6468
Suicide Rate (per 100,000)                                   6468
Alcohol use disorders (%)                                    6468
Drug use disorders (%)                                       6468
Depressive disorders (%)                                     6468
Bipolar disorder (%)                                         6468
Anxiety disorders (%)                                        6468
Eating disorders (%)                                         6468
Schizophrenia (%)                                            6468
dtype: int64

231 different entities and overall 28 years.

In [36]:
gdpPerCapita.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6407 entries, 0 to 6406
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Entity              6407 non-null   object
 1   Code                5167 non-null   object
 2   Year                6407 non-null   int64
 3   GDP per capita ($)  6407 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 200.3+ KB

In [37]:
gdpPerCapita.nunique()

Entity                 241
Code                   196
Year                    28
GDP per capita ($)    6355
dtype: int64

In [38]:
gdpPerCapita.Year.unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 1990, 1991, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999, 2000, 2001], dtype=int64)

More unique entities than other data. Same range years but with different orders. Let's order the data with years.

In [39]:
gdpPerCapita[gdpPerCapita.Year == 1990].head()

                  Entity Code  Year  GDP per capita ($)
16               Albania  ALB  1990         4722.838166
44               Algeria  DZA  1990        10236.840658
72                Angola  AGO  1990         3430.798427
100  Antigua and Barbuda  ATG  1990        16381.018357
128           Arab World  NaN  1990        10450.208542

Some entities don't start from 1990.

In [40]:
gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Entity      6468 non-null   object
 1   Code        5488 non-null   object
 2   Year        6468 non-null   int64
 3   Male (%)    6468 non-null   float64
 4   Female (%)  6468 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 252.8+ KB

In [41]:
ageGroup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Entity                6468 non-null   object
 1   Code                  5488 non-null   object
 2   Year                  6468 non-null   int64
 3   10-14 years old (%)   6468 non-null   float64
 4   15-19 years old (%)   6468 non-null   float64
 5   20-24 years old (%)   6468 non-null   float64
 6   25-29 years old (%)   6468 non-null   float64
 7   30-34 years old (%)   6468 non-null   float64
 8   All ages (%)          6468 non-null   float64
 9   5-14 years old (%)    6468 non-null   float64
 10  15-49 years old (%)   6468 non-null   float64
 11  50-69 years old (%)   6468 non-null   float64
 12  70+ years old (%)     6468 non-null   float64
 13  Age-standardized (%)  6468 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 707.6+ KB

All data are very clean already. Let's export dataframes to new csv files.

## Export data to a new csv file

In [42]:
df.to_csv(r'C:\Users\yuhan\Desktop\Springboard\Capstone project-2\data\mental_substance_output.csv')

In [43]:
gdpPerCapita.to_csv(r'C:\Users\yuhan\Desktop\Springboard\Capstone project-2\data\GDP_per_capita_output.csv')

In [44]:
gender.to_csv(r'C:\Users\yuhan\Desktop\Springboard\Capstone project-2\data\mental_substance_gender_output.csv')

In [45]:
ageGroup.to_csv(r'C:\Users\yuhan\Desktop\Springboard\Capstone project-2\data\mental_substance_age_output.csv')

## Next Step: Exploratory Data Analysis (EDA)